<html xmlns:th="http://www.thymeleaf.org">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $.ajax({
        url: "/data"
    }).then(function(data) {
       $('.greeting-id').append(data.id);
       $('.greeting-content').append(data.content);
    });
});

</script>
</head>

<body>

  <div th:if="${message}">
    <h2>Hello</h2>
    <h2 th:text="${message}" />
  </div>




  <div>
            <p class="greeting-id">The ID is </p>
            <p class="greeting-content">The content is </p>
        </div>

</body>
</html>